# Python caches
__pycache__/
*.py[cod]
*.pyo

# Env files
.env

# Docker
Dockerfile
docker-compose.override.yml

# Distribution
build/
dist/
*.egg-info/

# Local IDE
.vscode/
*.swp

# Secrets
secrets/
